{% extends "index.html" %}

{% from 'macros/exibir_itempauta_thumbnail.html' import list_itempauta %}

{% block form_title %} Itens de Pauta Em Votação {% endblock %}

{% block form %}
<form action="{{ url_for('main.votar_itempauta') }}" method="POST">
    <div class="row" align="center">
        {% for it in itens_de_pauta %}
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <div class="caption">

                  {{ list_itempauta(it, opcoes_voto) }}
                  <br>

              </div>
            </div>
          </div>
        {% endfor %}
    </div>

    <div align="center">
        <input type="submit" class="btn btn-primary" id="votar" value="Confirmar">
    </div>
</form>

<!-- pinta cada option de uma cor  -->
<!--<script src="{{ url_for('static', filename='js/style-opcoes-votacao.js') }}"></script> -->

{% endblock %}