{% extends "index.html" %}

{% from 'macros/exibir_itempauta_thumbnail.html' import list_itempauta with context %}

{% block form_title %} Itens de Pauta {% endblock %}

{% block form %}
<div class="row" align="center">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    {% for it in itens_de_pauta %}
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class="caption">
              {{ list_itempauta(it, opcoes_voto) }}
              <br>
          </div>
        </div>
      </div>
    {% endfor %}
</div>

<!-- pinta cada option de uma cor  -->
<!--<script src="{{ url_for('static', filename='js/style-opcoes-votacao.js') }}"></script> -->

{% endblock %}