{% extends "index.html" %}

{% from 'macros/exibir_itempauta_thumbnail.html' import list_itempauta %}

{% block form_title %} Sugestões de Item Pauta Reprovadas {% endblock %}

{% block form %}
<div class="row" align="center">
    {% for it in itens_de_pauta %}
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class="caption">
                <form action="{{ url_for('main.desfazer_reprovacao', num_sugestao = it.num) }}" method="POST">

                    {{ list_itempauta(it, opcoes_voto) }}

                    {% if it.justif_reprovacao %}
                        <pre>{{ it.justif_reprovacao }}</pre>
                    {% endif %}

                    <p align="center">
                        <input type="submit" class="btn btn-danger" id="desfazer" value="Desfazer">
                    </p>
                </form>
          </div>
        </div>
      </div>
    {% endfor %}
</div>
{% endblock %}