{% extends "index.html" %}

{% from 'macros/exibir_assembleias_e_sugestoes.html' import exibir_assembleias_e_sugestoes %}

{% block form_title %} Sugestões de Item Pauta Aprovadas {% endblock %}

{% block form %}
<form action="{{ url_for('main.atribuir_sugestoes_a_assembleia') }}" method="POST">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <td class="text-center"><strong>Título da Sugestão</strong></td>
                    <td class="text-center"><strong>Número da Assembléia</strong></td>
                    <td class="text-center"><strong>Ação</strong></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="col-lg-6">
                        <select id="sugestoes" name="sugestoes" class="form-control">
                        {% for sug in sugestoes %}
                            <option value="{{ sug.num }}">{{ sug.titulo }}</option>
                        {% endfor %}
                        </select>
                    </td>
                    <td class="col-lg-4">
                        <select id="assembleias_combo" name="assembleias_combo" class="form-control">-->
                        {% for a in assembleias_combo %}
                            <option value="{{ a.num }}">{{ a.num }}</option>
                        {% endfor %}
                        </select>
                    </td>
                    <td class="col-lg-2 text-center">
                        <span class="input-group-btn">
                            <button class="btn btn-default" id="btn_add_itempauta" type="button">Adicionar</button>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>

    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    {% for a in assembleias_heading %}

        {{ exibir_assembleias_e_sugestoes(a) }}

    {% endfor %}

    <p align="center">
        <input id="confirmar" type="submit" value="Confirmar" class="btn btn-primary">
    </p>
</form>

<script src="{{ url_for('static', filename='js/atribuir_a_assembleia.js') }}"></script>
{% endblock %}
