{% macro exibir_assembleias_e_sugestoes(assembleia, opcoes_voto) %}

{% from 'macros/exibir_sugestao_thumbnail.html' import list_sugestao %}

<div class="panel panel-default">
    <div class="panel-heading">
<!--  panel fica sempre aberto p/ não esconder as sugestões adicionadas
      <div class="container" data-toggle="collapse" data-target="#div-sugestoes{{ id }}"> -->
            <h3 class="panel-title form-center" align="center">
                <strong><u> Assembléia {{ assembleia.num }} </u> - </strong>
                inicia em <span class="label label-danger"> {{ assembleia.dataHoraInicio }}</span>
                termina em <span class="label label-warning"> {{ assembleia.dataHoraFim }} </span>
            </h3>
    </div>

    <div class="panel-body">
        <div id="div-sugestoes{{ assembleia.num }}" class="collapse in">
            <div class="row">
            {% for sug in assembleia.sugestoesDosItensPauta %}
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                  <div class="caption">
                      {{ list_sugestao(sug, opcoes_voto) }}
                  </div>

                </div>
              </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endmacro %}