{% macro list_itempauta(it, opcoes_voto) %}

    <form action="{{ url_for('main.votar_itempauta') }}" method="POST">

    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    {% if it.get_obj_sugestao.titulo %}
         <p>
           <h3>{{ it.get_obj_sugestao.titulo }}</h3>
         </p>
    {% endif %}

    {% if opcoes_voto and current_user.is_morador == "Sim"%}
        <hr>
        <p>
            <div class="btn-group" data-toggle="buttons" role="group">
              {% for op in opcoes_voto.get(it.num) %}
                  <label class="btn btn-default">
                    <input type="radio" name="link_op_voto" id="link_op_voto{{it.num}}"
                           autocomplete="off" value="{{op}} ; {{it.num}}" required>
                     <strong>{{ op }}</strong>
                  </label>
               {% endfor %}
            </div>

        </p>
    {% endif %}

    <hr>

    {% if current_user.is_morador=="Sim" %}
    <p>
        <h4 align="center"><strong>Seu Comentário</strong></h4>
        <textarea name="comentario" id="comentario" class="form-control" style="height: 60px !important;"></textarea>
    </p>
    {% endif %}

    <p>
        <a href="{{ url_for('main.detalhar_itempauta',num_it=it.num) }}"> ver mais </a>
    </p>

    {% if is_votacao %}
    <div class="center-block text-center">
        <input type="submit" class="btn btn-primary" id="votar" value="Confirmar">
    </div>
    {% endif %}

    </form>

{% endmacro %}