 {% macro corpo_itempauta_em_tabela(itens_de_pauta, opcoes_voto) %}

    {% for it in itens_de_pauta %}
    <tr class="text-center">
        <td class="text-center">{{ it.get_obj_sugestao.titulo }}</td>
        <td class="text-center">{{ it.get_obj_sugestao.descricao }}</td>
        <td class="text-center"> <span class="label label-info "> {{ it.status }} </span> </td>
        <td class="text-center">{{ it.get_obj_sugestao.autor }}</td>

        <td class="text-center">
            {% for op in opcoes_voto.get(it.num) %}
            <p>
                <strong>{{ op }}</strong>
            </p>
            {% endfor %}
        </td>
        <td class="text-center">
            {% for a in it.get_obj_sugestao.anexos %}
            <p>
                <a href="{{ url_for('main.get_files', anexos=it.get_obj_sugestao.anexos) }}">ver anexos</a>
            </p>
            {% endfor %}
        </td>

    </tr>
    {% endfor %}


 {% endmacro %}