{% extends "index.html" %}

{% block form_title %} Editar Usuário {% endblock %}

{% block form %}
<form role="form" class="form-horizontal" method="POST" action="{{ url_for('auth.edit_user') }}">
    <div class="form-group">
        {{ form.hidden_tag() }}
        <label class="col-sm-1 control-label">{{ form.email.label }}</label>
        <div class="col-sm-4" style="width: 30% !important">
          {{ form.email(class="form-control", maxlength="50", readonly=true) }}
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
        </div>
        <label class="col-sm-2 control-label"> Data de Nascimento: </label>
        <div class="col-sm-5">
            <div class='input-group date' id='data_nascimento' style="width: 40% !important">
                <input type='text' class="form-control" id="dt_nascimento_text"
                       name="dt_nascimento_text" value="{{ user.dataNascimento }}">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>

    <div class="form-group">
    </div>

    <div class="form-group">
        <label class="col-sm-1 control-label">{{ form.nome.label }}</label>
        <div class="col-sm-4" style="width: 25% !important">
            {{ form.nome(class="form-control", maxlength="20") }}
        {% for error in form.nome.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}<br>
        </div>
        <label class="col-sm-1 control-label">{{ form.sobrenome.label }}</label>
        <div class="col-sm-4" style="width: 35% !important">
            {{ form.sobrenome(class="form-control", maxlength="20") }}
        {% for error in form.sobrenome.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}<br>
        </div>
    </div>


    <br>

    <div class="form-group">
        <label class="col-sm-1 control-label">Gênero: </label>
        <div class="col-sm-1">
            <h4><spam class="label label-success">{{ user.genero }}</spam></h4>
        </div>
        <label class="col-sm-2 control-label">Alterar para:</label>
        <div class="col-sm-4" style="width: 15% !important">
            <select id="alterar_genero" name="alterar_genero" class="form-control">
                <option value="" selected="selected"></option>
                <option value="M">Masculino</option>
                <option value="F">Feminino</option>
            </select>
        </div>
    </div>

    {% if user.morador %}
    <div class="form-group">
        <label class="col-sm-3 control-label" style="text-align: left" > Número do Apartamento: </label>
        <div class="col-sm-2" style="width: 10% !important">
            {{ form.num_ap(class="form-control", maxlength="6") }}
        {% for error in form.num_ap.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}<br>
        </div>
        <label class="col-sm-1 control-label">{{ form.bloco.label }}</label>
        <div class="col-sm-2" style="width: 10% !important">
            {{ form.bloco(class="form-control", maxlength="3") }}
        {% for error in form.bloco.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}<br>
        </div>
    </div>
    {% endif %}

    <div class="form-group">
        <label class="col-sm-1 control-label">Role:</label>
        <div class="col-sm-2">
            <h4><spam class="label label-success">{{ user.role_nome }}</spam></h4>
        </div>
        <label class="col-sm-2 control-label">Alterar para:</label>
        <div class="col-sm-4" style="width: 25% !important">
            <select id="roles" name="roles" class="form-control">
                <option value="" selected="selected"></option>
            {% for r in roles %}
                <option value="{{ r.id }}">{{ r.nome }}</option>
            {% endfor %}
            </select>
        </div>
        <div class="popover-example col-sm-4 custom_popover" id="role_info" style="display:none">
            <div class="popover-title"><h4>Privilégios:</h4></div>
            <div class="popover-content" id="privilegios">

            </div>
        </div>
    </div>

    <br>

    <div class="form-group">
        <label class="col-sm-4 control-label" style="text-align:left !important">
            Enviar e-mail ao usuário para alterar a senha ?
        </label>
        <div class="col-sm-4" style="width: 10% !important">
            <select id="alterar_senha" name="alterar_senha" class="form-control">
                <option value="s">Não</option>
                <option value="n">Sim</option>
            </select>
        </div>
    </div>
        <br><br>

        <div class="center-block text-center">
            <input role="button" class="btn btn-primary" type="submit" value="Alterar Usuário">
            <a role="button" href="javascript:window.history.back()" class="btn btn-warning"> Voltar </a>
        </div>
</form>

<script src="{{ url_for('static', filename='js/criar_usuario.js') }}"></script>
{% endblock %}