{% extends "index.html" %}

{% block form_title %} Usuários do Sistema {% endblock %}

{% block form %}
    <form id="exibir_users" action="">
        <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}"/>
        <table class="table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="text-center">Login</th>
                        <th class="text-center">Nome</th>
                        <th class="text-center">Data de Nascimento</th>
                        <th class="text-center">Gênero</th>
                        <th class="text-center">Role</th>
                        <th class="text-center">Morador ?</th>
                        <th class="text-center">Confirmado ?</th>
                        {% if current_user.is_administrador %}
                        <th class="text-center">Ação</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                {% for u in users %}
                    <tr class="text-center">
                        <td class="text-center">{{ u.id }}</td>
                        <td class="text-center">{{ u.nome }} {{ u.sobrenome }}</td>
                        <td class="text-center">{{ u.dataNascimento }}</td>
                        <td class="text-center">{{ u.genero }}</td>
                        <td class="text-center">{{ u.role_nome }}</td>
                        <td class="text-center">{{ u.is_morador }}</td>
                        <td class="text-center">{{ u.is_confirmado }}</td>

                        {% if current_user.is_administrador %}
                        <td class="text-center">
                          <a href="{{ url_for('auth.edit_user',user_email=u.id) }}" id="btn_editar_usuario" >
                            <img border="0" alt="Editar Usuario" src="{{ url_for('static', filename='img/user-edit.png')}}">
                          </a>
                          <a id="btn_excluir_usuario" data-target="#modal" data-toggle="modal" data-user-id="{{ u.id }}">
                            <img border="0" alt="Excluir Usuario" src="{{ url_for('static', filename='img/user-delete.png')}}">
                          </a>
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
        </table>
        <br>
    </form>

{% set modal_title = "Exclusão de Usuário" %}

{% set modal_msg = "Tem certeza que deseja excluir o usuário ?" %}

{% include '/modal.html' %}

{% endblock %}

