<div class="container">
        <div class="row fileupload-buttonbar">
            <div class="col-lg-7">
                <div class="btn btn-success fileinput-button" id="file-upload">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span >Escolher Arquivo</span>
                    <input type="file" style="opacity: 0"  name="files" multiple>
                </div>
                <!-- The global file processing state -->
                <span class="fileupload-process"></span>

                <button type="button" class="btn btn-danger" data-toggle="popover" data-placement="right" data-html="true"
                    data-content="<li>Tamanho máximo do arquivo: <strong>5 MB</strong></li>
                    <li> Extensões permitidas: <strong>TXT, JPG, GIF, PNG, BMP, DOC, DOCX, XLS, XLSX e PDF </strong></li>
                    <li> Você pode arrastar e soltar do seu desktop aqui </li>">
                    Instruções
                </button>


                <br>

            </div>
            <!-- The global progress state -->
            <div class="col-lg-5 fileupload-progress fade">
                <!-- The global progress bar -->
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                </div>
                <!-- The extended global progress state -->
                <div class="progress-extended">&nbsp;</div>
            </div>
        </div>
        <!-- The table listing the files available for upload/download -->
        <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
</div>
<!-- The blueimp Gallery widget -->
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-filter=":even">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>