{% extends "template_base.html" %}

{% block navbar %}

<nav class="navbar navbar-default no-margin">
<!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header fixed-brand">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"  id="menu-toggle">
          <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
        </button>
        <a class="navbar-brand" href="#">OLIVERSYS</a>
    </div><!-- navbar-header-->

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="active">
                <button class="navbar-toggle collapse in"  data-toggle="collapse" id="menu-toggle-2">
                <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span></button>
            </li>
        </ul>
        <h3 align="center">{% block form_title %} {% endblock %}</h3>
    </div><!-- bs-example-navbar-collapse-1 -->
</nav>

<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <div class="sidebar-nav nav-pills nav-stacked" id="menu">

            <li>
                <a href="{{ url_for('main.index') }}">
                    <span class="fa-stack fa-lg pull-left">
                        <i class="fa fa-dashboard fa-stack-1x "></i>
                    </span>
                    Home
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="fa-stack fa-lg pull-left">
                        <i class="fa fa-flag fa-stack-1x "></i>
                    </span> Sugestão de Item Pauta
                </a>
                <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                    <li>
                        <a href="{{ url_for('main.sugerir_itempauta') }}">
                            Criar
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('main.listar_sugestoes_sem_avaliacao') }}">
                            Avaliar
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('main.listar_sugestoes_reprovadas') }}">
                            Listar Reprovadas
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('main.atribuir_sugestoes_a_assembleia') }}">
                            Atribuir à Assembléia
                        </a>
                    </li>
                </ul>
                <a href="#">
                    <span class="fa-stack fa-lg pull-left">
                        <i class="fa fa-flag fa-stack-1x "></i>
                    </span> Item de Pauta
                </a>
                <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                    <li>
                        <a href="{{ url_for('main.votar_itempauta') }}">
                            Votar
                        </a>
                    </li>
                </ul>
                <a href="#">
                    <span class="fa-stack fa-lg pull-left">
                        <i class="fa fa-flag fa-stack-1x "></i>
                    </span> Assembléia
                </a>
                    <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                        <li>
                            <a href="{{ url_for('main.criar_assembleia') }}">
                                Criar
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('main.listar_assembleias',status=1) }}">
                                Aguardando Início
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('main.listar_assembleias',status=2) }}">
                                Em Andamento
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('main.listar_assembleias',status=3) }}">
                                Encerradas
                            </a>
                        </li>
                    </ul>
            </li>

            <li class="divider"></li>

            {% if current_user.is_authenticated %}

            <li>
                <a href="{{ url_for('auth.logout') }}">
                    <span><i class="glyphicon glyphicon-off"></i></span>
                    Sair
                </a>
            </li>

            {% else %}
            <li>
                <a href="{{ url_for('auth.login') }}">
                    <span><i class="fa fa-user fa-lg"></i></span>
                     Entrar
                </a>
            </li>
            {% endif %}

            {% if current_user.is_administrador %}
            <li>
                <a href="#">
                    <span class="fa-stack fa-lg pull-left">
                        <i class="fa fa-flag fa-stack-1x "></i>
                    </span> Administração do Sistema
                </a>
                <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                    <li>
                        <a href="{{ url_for('auth.exibir_usuarios') }}">
                            Listar Usuários
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('auth.add_user') }}">
                            Criar Usuário
                        </a>
                    </li>
                </ul>
            </li>
            {% endif %}
        </div>
    </div><!-- /#sidebar-wrapper -->


    <!-- CONTEUDO DA PAGINA -->
    <div id="page-content-wrapper">
        <div class="container-fluid xyz">
        {% block form %} {% endblock %}
        </div>
        <br>
        {% for message in get_flashed_messages() %}
        <div class="alert alert-success" role="alert"  align="center">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <span class="sr-only"></span>
            {{ message }}
        </div>
        {% endfor %}
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
{% endblock %}